<!DOCTYPE html>
<html>
<head>
    <title>Blockchain Based Voting System</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<section class="home">
    <div class="glass">
        <h1>Blockchain Based<br>Voting System</h1>
        <p>Secure Voting System using MetaMask, Ganache and Ethereum</p>

        <a href="/login"><button>User Login</button></a>
        <a href="/register"><button>Register</button></a>
        <a href="/admin_login"><button>Admin Login</button></a>
    </div>
</section>

</body>
</html>